@charset "UTF-8";

/*Todas as demais mídias*/

/*Typical Device Breakpoints
-----------------------------------------
Pequenas telas: até (600px - Guanabara)
Celular: de 600px até 768px
Tablet: 768 até 992px
desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print {
    * {
    font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /*desnecessário*/
    }

    main {
        border: 2px solid black;
        width: 90vw
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.curso em vídeo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#tablet {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
    img#phone {display:none;}
    img#print {display: block}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#tablet {display: block;}
    img#phone {display:none;}
    img#pc {display:none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#tablet {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
    img#phone {display:none;}

}

@media screen and (min-width: 1200px) { /*Telas Grandes*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#pc {display: none;}
    img#tv {display: block;}
    img#phone {display:none;}
}