@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;

}

li {
    list-style-type: none;
}

header {
    background-color: lightgray;
    padding: 10px 0px;
}

header h1 {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(112, 112, 112, .5)
}

header nav > ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    
}

header nav > ul > li {
    background-color: black;
    width: 90vw;
    text-align: center;
    margin: 3px 0px;
    padding: 10px;
    border-radius: 18px;
    transition: background-color 0.2s ease-out;
}

header nav > ul > li:hover {
    background-color: white;
}

li > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: color 1s ease;
    width: inherit;
}

li > a:hover {
    color: black;
}

li > a:visited {
    color: inherit;
}

main {
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

main h1 {
    padding: 15px;
}

main p {
    padding: 15px;
}

@media  screen and (min-width: 450px) {

    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-right: 10px;
        align-items: center;

    }

    header h1 {
        text-align: left;
        padding-left: 10px;
    }

    header nav > ul {
        flex-flow: row nowrap;
        
    }

    header nav > ul > li {
        width: 100%;
        flex: auto;
        border-radius: 10px;
        margin: 0px 5px;
        padding: 4px;
        flex: 0 0 58px;
    }

    li > a {
        font-size: 0.8em;
    }


}